# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IPython
.ipython/

# Python cache & bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.conda/
.venv/
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/


